:root {
  --gap: 50px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --code-block-bg: rgb(28, 29, 33);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);

  text-underline-position: under;
}

.night {
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-block-bg: rgb(46, 46, 51);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
}


#searchbox input {
  padding: 4px 10px;
  width: 100%;
  color: var(--primary);
  font-weight: bold;
  border: 2px solid var(--tertiary);
  border-radius: var(--radius);
}

#searchbox input:focus {
  border-color: var(--secondary);
}

#searchResults li {
  list-style: none;
  border-radius: var(--radius);
  padding: 10px;
  margin: 10px 0;
  position: relative;
  font-weight: 500;
}

#searchResults {
  margin: 10px 0;
  width: 100%;
}

#searchResults li:active {
  transition: transform 0.1s;
  transform: scale(0.98);
}

#searchResults a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  outline: none;
}

#searchResults .focus {
  transform: scale(0.98);
  border: 2px solid var(--tertiary);
}

.search-container {
  position: relative;
  // min-height: calc(100vh - var(--header-height) - var(--footer-height));
  // max-width: calc(var(--main-width) + var(--gap) * 2);
  // margin: auto;
  padding: var(--gap);
}

.first-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
  font-size: 34px;
  line-height: 1.3;
}

.first-entry .entry-content {
  margin: 14px 0;
  font-size: 16px;
  -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
  font-size: 14px;
}

.home-info .entry-content {
  -webkit-line-clamp: unset;
}

.post-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  border: 1px solid var(--border);
}

.post-entry:active {
  transform: scale(0.96);
}

.tag-entry .entry-cover {
  display: none;
}

.entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
}

.entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.entry-footer {
  color: var(--secondary);
  font-size: 13px;
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.entry-hint {
  color: var(--secondary);
}

.entry-hint-parent {
  display: flex;
  justify-content: space-between;
}

.entry-cover {
  font-size: 14px;
  margin-bottom: var(--gap);
  text-align: center;
}

.entry-cover img {
  border-radius: var(--radius);
  pointer-events: none;
  width: 100%;
  height: auto;
}

.entry-cover a {
  color: var(--secondary);
  box-shadow: 0 1px 0 var(--primary);
}